#wrap {
  position:relative;
  text-align: center;
  font-size: 2em;
  }
    
#content {
  position:relative;
  margin: auto;
  margin-top: 60px;
}

#answer {
  padding: 20px;
  font-size: 2em;
}

#pre-answer {
  padding: 10px;
}

h1 {
  margin: 0 0 40px 0;
  font-size: 3em;
  line-height: 2em;
}

button {
  position: relative;
  font-family: Cantarell, sans-serif;
  font-size: 2em;
}

.input-prepend {
  display: block;
}

input[type="text"]{
  font-size: 2em !important;
  height: 50px !important;
}

@font-face {font-family:Cantarell; src:url("../fonts/Cantarell-Regular.ttf");}

.cantarell {
  font-family:Cantarell, sans-serif; 
  line-height: 2em;
}

.icon-white {
	margin-top: 3px;
}

.btn-group {
  padding: 20px;
}